.parent{
	/*background-color:grey;
	width: 400px;
	height:400px;
	*/
	padding-left: 30em;
	color: white;
}
.square {
  background-color: grey;
  width: 300px;
  height: 300px;
  display: inline-block;
  margin-top: 200px;
  position:static;
  

}


.child{
	position: relative;
	left:70px;
	right: 70px;
	top: 50px;
	bottom: 70px;
	background-color: black;
	width: 150px;
	height: 150px;
	text-decoration-color: white;

}