.div1{
	width:350px;
	height: 350px;
	background-color: grey;
	position: absolute;
	top:0px;
	left:0px;
	color:white;
}

.div2{
position: absolute;
top: 0px;	
right: 0px;
	width: 200px;
	height: 200px;
	background-color: black;
	color:white
}