.div1{
	background-color: #3c3c3c;
	position: absolute;
	left:0px;
	top: 0px;
	width:300px;
	height:300px;
	color: white;
}
.div2{
	background-color: black;
	position: absolute;
	top:0px;
	width:150px;
	height:150px;
	left:500px;
	height:150px;
	top:0px;
	color:white;
}

.div3{
	background-color: black;
	position: absolute;
	top:350px;
	width:150px;
	height:150px;
	left:0px;
	height:150
	top:0px;
	color:white;
}

.div4{
	background-color: #3c3c3c;
	position: absolute;
	left:350px;
	top:200px;
	color:white;
	width:300px;
	height:300px;
}