
div{
	width: 200px;
	height: 200px;
	color: white;
}

.div1{
	background-color: black;
	top:0px;left: 0px;
	position:absolute;
}

.div2{
	position: absolute;	
	background-color: grey;
	top:100px;
	left: 100px;
}
