.div1{
	width: 250px;
	height: 450px;
	background-color:#3c3c3c;
	position: absolute;
	top: 0px;
	color: white;
	left: 0px;
}


.div2{
	position: absolute;
	width: 200px;
    height: 250px;
    background-color: black;
    left:175px;
    top:200px;
    color: white;
}
.div3{
	background-color:#b4b4b4;
	position: absolute;
	left:100px;
	top:300px;
	width: 150px;
	height: 200px;
	color: white;
}

