.div1{
	width: 300px;
	height: 550px;
	background-color: #3c3c3c;
	position: absolute;
	top: 0px;
	left: 0px;
}


.div2{
	position: absolute;
	width: 200px;
    height: 250px;
    background-color: black;
    right:0px;
    bottom: 0px;
    color: white;
}
.div3{
	background-color: #b4b4b4;
	position: absolute;
	bottom: 15px;
	right: 20px;
	width: 150px;
	height: 150px;
	color: black;
}

