div {
  width: 150px;
  height: 150px;
  background-color: black;
  color: white;
   position: absolute;
   top:0px;
  
}

.div1 {
  float: left;
 left:0px; 
}

.div3
{
	float: right;
	right:0px;
	
}

.div2{
	float: left;
	/*margin-left:55em;*/
  left:65em;

	}