.div1{
	width: 600px;
	height: 300px;
	background-color: grey;
	position: absolute;
	top:200px;
	left:300px;
}

.div2,.div3{
 width: 150px;
 height: 150px;
 background-color: black;
 color: white;
 top:80px;
}

.div2{
	position: absolute;
	color: white;
	text-align: left;
	left:40px;
}

.div3{
	position: absolute;
	text-align: left;
		right: 40px;
}