.div1{
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 500px;
	height: 300px;
	background-color: grey;
	
}
.div2{

	background-color: black;
	width: 150px;
	height: 150px;
	margin-left: 350px;	
	text-align: left;
	color: white;
	font-size: 10px;
}
.div3{
	background-color: black;
	width: 150px;
	height: 150px;
	
	text-align: left;
	font-size: 10px;
	color: white;
}
