
div{
	width: 200px;
	height: 200px;
	color: white;
}

.div1{
	background-color: black;
	top:0px;left: 0px;
	position:absolute;
}

.div2{
	position: absolute;	
	background-color: grey;
	top:100px;
	left: 100px;
}
.div3{
	position: absolute;	
	background-color: black;
	top:200px;
	left: 200px;
}
.div4{
	position: absolute;	
	background-color: grey;
	top:300px;
	left:300px;
}
.div5{
	position: absolute;	
	background-color: black;
	top:400px;
	left:400px;
}