div {
  width: 150px;
  height: 150px;
  background-color: black;
  color: white;
  position: static;
  
 
}
.div1{
	position: absolute;
	top:0px;
	left: 0px;
}
.div2{
	position:relative;
	top:150px;
	left: 400px;
}


.div3{
	position: relative;
	top:150px;
	left: 800px;
}