.div1{
	width: 300px;
	height: 500px;
	background-color: grey;
	position: absolute;
	top: 0px;
	left: 0px;
}

.div2,.div3{
 width: 150px;
 height: 150px;
 background-color: black;
 left:70px;
 
color: white;
}

.div2{
	position: absolute;
	color: white;
	text-align: left;
	top: 0px;
}

.div3{
	position: absolute;
	text-align: left;
	
	bottom:0px
}